#Ignore Python cache and virtual environment directories
__pycache__/
*.onnx
*.safetensors
*.pth
test/
*.epr
.*.dst
.*~
*.mp3
models/all_public_uvr_models
models/demucs
__no__
models/.catalog.csv
models/*.yaml
0LEEME
